body {
    margin: auto;
    font-family: "ProfontX","Lora",Georgia,"Times New Roman",Times,serif;
    font-size: 14px;
}

header, footer, #topics {
    position: absolute;
    width: 100%;
}

body * {
    margin: 0;
    padding : 0;
}

#slides {
    display: none;
}

#topics {
    top: 20px;
    z-index: 2;
}

a {
    color: #c30;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

:link, :visited {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-size: 100%;
    margin: 0;
    padding: 0;
    font-weight: inherit;
}

/* ------------------------------------------------------------------------- */

header {
    top: 0;
    border-bottom: 1px solid #ffffff;
    padding-top: 7px;
    padding-bottom: 1px;
    margin: 0;
    height: 1.3em;
    text-align: right;
    vertical-align: top;
}

header #title {
    padding-left: 20px;
    float: left;
}

header #page_info {
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    padding-right: 20px;
    float: right;
}

footer {
    bottom: 0;
    height: 2.5em;
    font-size: 0.5em;
    font-weight: bold;
    padding: 1em 0;
}

/* ------------------------------------------------------------------------- */

body {
    background: url(img/looseleaf.png) repeat-y;
}

header {
    background: #66f;
    color: #eee;
}

ul, pre {
    margin: 0;
    line-height: 1em;
}

blockquote, q {
    font-style: italic;
}

blockquote {
    background: url(img/quoteclip.png) left bottom no-repeat;
    padding: 0 2em 0 45px;
    margin: .2em 1.5em 0.5em;
    border-top: 3px solid #EEE;
    border-right: 3px solid #EEE;
    font-size: 1em;
}

.slide {
    padding-left: 30px;
    text-align : left;
    font-size : 400%;
    font-weight: bold;
}

.slide h1 {
    white-space: normal;
    position: static;
    margin: 1.1em 0 1.33em;
    margin-left: 50px;
    padding: 5px 0 5px 20px;
}

.slide h2 {
    background: url(img/pen.png) right bottom no-repeat;
    height: 40px;
    font-size: 44px;
    margin-bottom: .1em;
    padding: 20px 54px .3em 0;
    border-bottom: dotted 4px #999;
    font-weight: bold;
}

.slide h3 {
    font-size: 130%;
}

.slide > ul > li {
    background: url(img/pin.png) left top no-repeat;
    padding-left: 32px;
    list-style-type: none;
}

.slide p {
    margin-left: 50px;
    margin: 0.5em 0;
    padding: 0;
}

.slide img {
    float: left;
    background: #fff;
    margin: 0 10px 10px 0;
    padding: 3px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
}

footer {
    color: #666;
    background-color: #CCCCFF;
}

#mg_slide0 {
    padding-top: 3.5em;
    font-size: 90%;
}
#mg_slide0 h1 {
    margin: 1em 0 1.33em;
    padding: 5px 0 5px 20px;
    font-weight: bold;
    font-size: 50px;
    white-space: normal;
    color: #000;
}

#mg_slide0 h2 {
    background: none;
    border: none;
}

#mg_slide0 h3 {
    margin-top: 0.3em;
    font-size: 1.2em;
}

